body{
    margin: 0px;
    background: linear-gradient(180deg, #FFFFFF 32.81%, #E0ECFE 100%);
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: 156%;
    letter-spacing: 0.05em;
  }
  
  #loading {
    background: #FFFFFF;
    position: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  
  #loading img {
    position: absolute;
  }
  
  
  #landing_4 {
    position: relative;
    left: 40%;
    top: 500px;
  }
  /*
  #landing_4 button {
    margin-top: 10px;
    background: #537ABB;
    border-radius: 25px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    border: none;
    padding: 0.5em 2em;
    cursor: pointer;
  }
  #landing_4 button:hover {
    color: #FFE4A3;
  }
  #landing_4:after {
    content: "";
    display: table;
    clear: both;
  }
  */
  
  
  .sk-cube-grid {
  position: fixed;
  top: 30%;
  width: 150px;
  height: 131.94px;
  }
  
  .sk-cube-grid .sk-cube {
  position: absolute;
  -webkit-animation: sk-cubeGridScaleDelay 1.5s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.5s infinite ease-in-out; 
  }
  
  .sk-cube-grid .sk-cube1 {
  left: 21.63%;
  right: 31.63%;
  top: 19.44%;
  bottom: 39.73%;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s; }
  
  .sk-cube-grid .sk-cube2 {
  left: 20.63%;
  right: 32%;
  top: 0%;
  bottom: 60.48%;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s; }
  
  .sk-cube-grid .sk-cube3 {
  left: 42.05%;
  right: 31.28%;
  top: 5.39%;
  bottom: 60.48%;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s; }
  
  .sk-cube-grid .sk-cube4 {
  left: 65.99%;
  right: 18.74%;
  top: 1.62%;
  bottom: 60.81%;
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s; }
  
  .sk-cube-grid .sk-cube5 {
  left: 69.38%;
  right: 14.15%;
  top: 18.46%;
  bottom: 54.12%;
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s; }
  
  .sk-cube-grid .sk-cube6 {
  left: 70.02%;
  right: 0%;
  top: 40.96%;
  bottom: 29.07%;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s; }
  
  .sk-cube-grid .sk-cube7 {
  left: 69.3%;
  right: 2.67%;
  top: 40.96%;
  bottom: 16.16%;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s; }
  
  .sk-cube-grid .sk-cube8 {
  left: 27.06%;
  right: 31.21%;
  top: 40.72%;
  bottom: 0.09%;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; }
  
  .sk-cube-grid .sk-cube9 {
  left: 7.53%;
  right: 53.1%;
  top: 61.21%;
  bottom: 0%;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }
  
  .sk-cube-grid .sk-cube10 {
  left: 0%;
  right: 73.9%;
  top: 61.14%;
  bottom: 8.35%;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
  
  .sk-cube-grid .sk-cube11 {
  left: 0.14%;
  right: 73.59%;
  top: 19.94%;
  bottom: 32.34%;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
  
  @keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
  }
  /*
   #     # #######    #    ######  ####### ######  
   #     # #         # #   #     # #       #     # 
   #     # #        #   #  #     # #       #     # 
   ####### #####   #     # #     # #####   ######  
   #     # #       ####### #     # #       #   #   
   #     # #       #     # #     # #       #    #  
   #     # ####### #     # ######  ####### #     #                                               
  */
  #header {
    position: relative;
    width: 100%;
  }
    
  #header .column {
    position: relative;
    float: left;
  }
    
  #header .column.left{
    width: 30%;
  }
    
  #header .column.right{
    width: 70%;
    text-align: right;
  }
    
  #logo_dsu {
    position: relative;
    left: 50px;
    top: 40px;
    width: 200px;
  }
    
  #navbar {
    position: relative;
    display: inline-flex; /*Made inline flex to push all items to same line*/
    width: auto;
    top: 30px;  
    padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 5px;
    border-bottom: 1px solid;
  }
    
  #navbar li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
  }
    
  #navbar a {
    text-decoration:none;
    font-size: 18px;
    color: #4C4C4C;
    letter-spacing: 0.02em;
    transition-property: background-color;
    transition-duration: 1.5s;
  }
  
  #navbar a:hover {
    color: #F3A47D;
    /*font-size : 150%;  Added this to explode font when hovering  */
  }
    
  #header:after {
    content: "";
    display: table;
    clear: both;
  }
    
  
  .client-intro {
   
      width: 80%;
      margin: auto;
      margin-top: 7%;
      text-align:justify;
    
  }
  
  .client-intro h3 {
      font-size: 2.0em;
      margin-top: 5%;
      color: #344F99;
      text-align: center;
      
  }
  
  .client-form {
      margin-left: 10%;
      margin-top: 5%;
      text-align: center;
      
  }
  
  .client-list {
      display: grid;
      grid-template-columns: repeat(1, 100%);
      grid-template-rows: repeat(4, 25vw);
      grid-gap: 3%;
      grid-row-gap: 5%;
      /*margin-left: 50%;*/
      margin-bottom: 10%;
      margin-top: 5%;
  }
  
  .client-img {
    /* margin: auto;
    margin-left: 42%; 
  */
  
  /* Formatted images with uniform dimensions, might have to use a flex container though to make the clients list better looking */
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: auto;
  
  /* Levitating image functionality */
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 2s infinite  alternate;
  }
  
  @-webkit-keyframes mover {
      0% { transform: translateY(0); }
      100% { transform: translateY(-12px); }
  }
  @keyframes mover {
      0% { transform: translateY(0); }
      100% { transform: translateY(-12px); }
  }
  
  
  .client-name {
      text-align: center;
      margin: 0;
  }
  
  .client-description {
      text-align: center;
      margin: 0;
      width: 50%;
      margin-left: 25%;
  }
  
  /* Added some arbitrary formatting for submit-button, contact-text, visuals on the html for the same*/
  .contact-text {
    margin-left: 75px;
    height: 25px;
    font-size: medium;
    border-radius: 15px;
  }
  
  .submit-button {
    color: white;
    background-color: #344F99 ;
    border-radius : 20px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 40px;
    font-weight: bold;
    height: 45px ;
    width : 100px ;
    letter-spacing: 1px;
  }
  
  /*
   ####### ####### ####### ####### ####### ######  
   #       #     # #     #    #    #       #     # 
   #       #     # #     #    #    #       #     # 
   #####   #     # #     #    #    #####   ######  
   #       #     # #     #    #    #       #   #   
   #       #     # #     #    #    #       #    #  
   #       ####### #######    #    ####### #     # 
  */
    
  footer {
    position: relative;
    background-color: #2E488E;
    top: 400px;
    height: 400px;
    padding-left: 10%;
    
  }
    
  footer ul {
    padding: 0px;
  }
    
  footer li {
    display: inline-block;
    padding-top: 50px;
    padding-right: 50px;
  }
    
  footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
  }
    
  footer #contact {
    position: relative;
    display: inline-block;
    top: 150px;
    color: #ffffff;
  }
    
  footer #social {
    margin: 0px;
    margin-right: 10%;
    text-align: right;
  }
  
    
  footer #social li{
    padding-top: 0px;
    padding-right: 15px;
  }
    
  footer #social p {
    color: #ffffff;
  }
  
  .dropdown {
      display: none;
    }
    
    .dropdown-menu {
      display: none;
    }
    
    @media only screen and (min-width: 100px) and (max-width: 1001px) {
      #nav-button {
        display: block;
        float: right;
        cursor: pointer;
        margin-top: 10%;
        margin-right: 10%;
        width: 70%;
        height: auto;
      }
    
      #logo_dsu {
        width: 90%;
      }
    
      .dropdown{
        display: block;
      }
    
      .dropdown-menu.show {
        display: block;
      }
    
      .dropdown button {
        border: none;
        background-color: white;
      }
    
      .dropdown-item {
        display: block;
      }
      
      .btn {
        width: 20%;
        float: right;
        margin-top: 5%;
        margin-right: 5%;
        height: auto;
      }
    
      .column.right{
        display: none;
      }
    
      #recruitment-title {
        margin-top: 5%;
      }
    
      .timeline-row {
        margin:0;
      }
      
    
      footer {
        position: relative;
      }
    
      .footer-nav{
        display: block;
        position: relative;
        padding: 4%;
      }
    
      footer #contact {
        top: 40%;
        left: 50%;
        position: absolute;
        float: right;
      }
    
      #social {
        float: left;
        top: 85%;
        left: 5%;
        position: absolute;
      }
      
      #social p {
        display: none;
      }
    }